version: '3.0'

services:
#  ai-image-service:
#    image: atyranski/ai-image-service:1.0.0
#    ports:
#      - "8001:8001"
#
#  lobby-creator-service:
#    image: atyranski/lobby-creator-service:1.0.0
#    ports:
#      - "8000:8000"

  postgres:
    image: postgres
    environment:
      POSTGRES_DB: "database"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - '5433:5432'